@model BankRepository

@{
    ViewData["Title"] = "Ahmads Bank";
}



    <div>
        @foreach (var account in Model.Accounts)
        {
            <h3>@account.Customer.Name</h3>
            <h4>@account.AccountName</h4>
            <h4>@account.Balance</h4>

        }
    </div>
